
.container{
    width: 100%;
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
    border: 10px solid grey;
    border-radius: 10px;
    width: 50%;
    height: 70vh;
}

@media only screen and (max-width: 1115px){
    table{
        width: 70%;
    }
}

@media only screen and (max-width: 600px){
    table{
        width: 80%;
    }
}

